<div class="w-full p-6 drop-shadow-md bg-white rounded-lg">
  <img
    [src]="data.flag"
    [alt]="data.flag"
    class="w-full aspect-video border border-black/10 rounded"
  />
  <div class="text-lg my-4 font-semibold">{{ data.name }}</div>
  <div class="flex items-center w-full justify-start mb-3">
    <div class="opacity-60 text-md mr-1">Population:</div>
    <div class="font-medium text-md">{{ data.population }}</div>
  </div>
  <div class="flex items-center w-full justify-start mb-3">
    <div class="opacity-60 text-md mr-1">Region:</div>
    <div class="font-medium text-md">{{ data.region }}</div>
  </div>
  <div class="flex items-center w-full justify-start mb-3">
    <div class="opacity-60 text-md mr-1">Capital:</div>
    <div class="font-medium text-md">{{ data.capital }}</div>
  </div>
</div>
